.icon {
  height: 18px;
  width: 18px;
  fill: aqua;
}

h4:hover {
  color: aqua;
  cursor: pointer;
}

.App_container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-color: aqua;
}

/* .MuiTooltip-arrow::before {
  color: aqua;
} */
