.chat_title {
  padding: 10px;
  position: fixed;
  top: 55px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  background-color: rgb(31, 31, 35);
}
